.popup__input {
  background: url(/images/strelkaw.svg) no-repeat right;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 8px;
  color: #959595;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  border-bottom: 1.8px solid #ffffff;
}
.popup__input:focus {
  outline: none;
}
